@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sample Application</h1>
    <p>Please entertain yourself with some memes I collected here.</p>
    <div class="text-lg-start">
        <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/735/538/c9a" width="300" height="400" />
        <img src="https://images3.memedroid.com/images/UPLOADED352/65d4a2c280e93.jpeg" width="300" height="400" />
        <img src="https://pleated-jeans.com/wp-content/uploads/2024/01/112-shaboingboings-11-mit.jpg" width="300" height="400" />
        <img src="https://i.chzbgr.com/full/9696333824/h56A0CFBC/cat-offer-food-someone-and-they-take-too-much" width="300" height="400" />
    </div>
</div>
<div class="text-lg-start">
    <h3 class="display-2">Author</h3>
    <p>Name: Nguyen Dinh Nhat Minh</p>
    <p>ID: 103802490</p>
    <h3 class="display-2">Course</h3>
    <p>SWE40006 - Software Deployment and Evolution</p>
</div>
